<div class="container">
    <div class="row">
        <div class="mx-auto">
            <h2>Naprawy Serwisanta</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <p>Imię: {{ctrl.serviceman.firstName}}</p>
                <p>Nazwisko: {{ctrl.serviceman.lastName}}</p>
                <p>Iniciały: {{ctrl.serviceman.initials}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-hover" ng-if="ctrl.repairs.length">
                <thead>
                <tr>

                    <th scope="col">Klient</th>
                    <th scope="col">Sprzęt</th>
                    <th scope="col">Numer Seryjny</th>
                    <th scope="col">Uszkodzenie</th>
                    <th scope="col">Opis Naprawy</th>
                    <th scope="col">Data Przyjęcia</th>
                    <th scope="col">Data Odbioru</th>
                    <th scope="col">Koniec Gwarancji</th>
                    <th scope="col">Cena</th>
                    <th scope="col">Koszty</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="repair in ctrl.repairs">
                    <td>{{repair.clientName}}</td>
                    <td>{{repair.equipmentName}}</td>
                    <td>{{repair.equipmentSerialNumber}}</td>
                    <td>{{repair.defect}}</td>
                    <td>{{repair.repairDescription}}</td>
                    <td>{{repair.start | date:'dd-MM-yyyy'}}</td>
                    <td>{{repair.end | date:'dd-MM-yyyy'}}</td>
                    <td>{{repair.warranty | date:'dd-MM-yyyy'}}</td>
                    <td>{{repair.price}}</td>
                    <td>{{repair.cost}}</td>
                    <td>{{repair.status}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>