<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="form">
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="searchInput" placeholder="Szukaj..." ng-model="text">
                    <button class="btn btn-primary mx-1" ng-click="ctrl.search(text)">Szukaj</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Iniciały Serwisanta</th>
                    <th scope="col">Klient</th>
                    <th scope="col">Sprzęt</th>
                    <th scope="col">Numer Seryjny</th>
                    <th scope="col">Uszkodzenie</th>
                    <th scope="col">Opis Naprawy</th>
                    <th scope="col">Data Przyjęcia</th>
                    <th scope="col">Data Odbioru</th>
                    <th scope="col">Koniec Gwarancji</th>
                    <th scope="col">Cena</th>
                    <th scope="col">Koszty</th>
                    <th scope="col">Status</th>

                    <th scope="col" class="text-center">Akcja</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="repair in ctrl.repairs">
                    <th scope="row">{{repair.id}}</th>
                    <td>{{repair.serviceManInitials}}</td>
                    <td>{{repair.clientName}}</td>
                    <td>{{repair.equipmentName}}</td>
                    <td>{{repair.equipmentSerialNumber}}</td>
                    <td>{{repair.defect}}</td>
                    <td>{{repair.repairDescription}}</td>
                    <td>{{repair.start | date:'dd-MM-yyyy'}}</td>
                    <td>{{repair.end | date:'dd-MM-yyyy'}}</td>
                    <td>{{repair.warranty | date:'dd-MM-yyyy'}}</td>
                    <td>{{repair.price}}</td>
                    <td>{{repair.cost}}</td>
                    <td>{{repair.status}}</td>

                    <td class="text-center">
                        <button class="btn btn-sm btn-primary" title="Edytuj">
                            <a ng-href="#!repair-edit/{{repair.id}}" class="text-white">
                                <i class="fas fa-user-edit"></i>
                            </a>
                        </button>
                        <button class="btn btn-sm btn-warning" title="Zarządzaj wyposażeniem">
                            <a ng-href="#!user-assets/{{user.id}}" class="text-white">
                                <i class="fas fa-wrench"></i>
                            </a>
                        </button>
                        <button class="btn btn-sm btn-danger" title="Usuń">
                            <i class="fas fa-user-minus"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-primary mb-3" ng-href="#!repair-add">Dodaj Naprawę</a>
    </div>
</div>