<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="form">
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="searchInput" placeholder="Marka, Model lub Numer Seryjny" ng-model="text">
                    <button class="btn btn-primary mx-1" ng-click="ctrl.search(text)">Szukaj</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Sprzęt</th>
                    <th scope="col">Numer Seryjny</th>
                    <th scope="col">Kategoria</th>
                    <th scope="col" class="text-center">Akcja</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="equipment in ctrl.equipments">
                    <th scope="row">{{equipment.id}}</th>
                    <td>{{equipment.name}}</td>
                    <td>{{equipment.serialNumber}}</td>
                    <td>{{equipment.category}}</td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-primary" title="Edytuj">
                            <a ng-href="#!equipment-edit/{{equipment.id}}" class="text-white">
                                <i class="fas fa-user-edit"></i>
                            </a>
                        </button>
                        <button class="btn btn-sm btn-warning" title="Zarządzaj wyposażeniem">
                            <a ng-href="#!user-assets/{{user.id}}" class="text-white">
                                <i class="fas fa-wrench"></i>
                            </a>
                        </button>
                        <button class="btn btn-sm btn-danger" title="Usuń">
                            <i class="fas fa-user-minus"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-primary mb-3" ng-href="#!equipment-add">Dodaj Sprzęt</a>
    </div>
</div>