<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="form">
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="searchInput" placeholder="Iniciały" ng-model="initials">
                    <button class="btn btn-primary mx-1" ng-click="ctrl.search(initials)">Szukaj</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Imię</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Iniciały</th>
                    <th scope="col" class="text-center">Akcja</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="serviceman in ctrl.servicemans">
                    <th scope="row">{{serviceman.id}}</th>
                    <td>{{serviceman.firstName}}</td>
                    <td>{{serviceman.lastName}}</td>
                    <td>{{serviceman.initials}}</td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-primary" title="Edytuj">
                            <a ng-href="#!serviceman-edit/{{serviceman.id}}" class="text-white">
                                <i class="fas fa-user-edit"></i>
                            </a>
                        </button>
                        <button class="btn btn-sm btn-warning" title="Przypisane Naprawy">
                            <a ng-href="#!serviceman-repairs/{{serviceman.id}}" class="text-white">
                                <i class="fas fa-wrench"></i>
                            </a>
                        </button>
                        <button class="btn btn-sm btn-danger" title="Usuń">
                            <i class="fas fa-user-minus"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-primary mb-3" ng-href="#!serviceman-add">Dodaj Serwisanta</a>

    </div>
</div>