<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="form">
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="searchInput" placeholder="Imię, Nazwisko lub Numer Telefonu" ng-model="text">
                    <button class="btn btn-primary mx-1" ng-click="ctrl.search(text)">Szukaj</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Adres</th>
                    <th scope="col">Kod Pocztowy</th>
                    <th scope="col">Miasto</th>
                    <th scope="col">Numer Telefonu</th>
                    <th scope="col">NIP</th>
                    <th scope="col" class="text-center">Akcja</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="client in ctrl.clients">
                    <th scope="row">{{client.id}}</th>
                    <td>{{client.name}}</td>
                    <td>{{client.address}}</td>
                    <td>{{client.postalCode}}</td>
                    <td>{{client.city}}</td>
                    <td>{{client.telephoneNumber}}</td>
                    <td>{{client.nip}}</td>

                    <td class="text-center">
                        <button class="btn btn-sm btn-primary" title="Edytuj">
                            <a ng-href="#!client-edit/{{client.id}}" class="text-white">
                                <i class="fas fa-user-edit"></i>
                            </a>
                        </button>
                        <button class="btn btn-sm btn-warning" title="Historia Napraw Klienta">
                            <a ng-href="#!client-repairs/{{client.id}}" class="text-white">
                                <i class="fas fa-wrench"></i>
                            </a>
                        </button>
                        <button class="btn btn-sm btn-danger" title="Usuń">
                            <i class="fas fa-user-minus"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-primary mb-3" ng-href="#!client-add">Dodaj Klienta</a>
    </div>
</div>