<div class="container">
    <div class="row">
        <div class="mx-auto">
            <h2 ng-if="ctrl.equipment.id">Edycja Sprzętu</h2>
            <h2 ng-if="!ctrl.equipment.id">Nowy Sprzęt</h2>
        </div>
    </div>
    <div class="row" ng-if="ctrl.msg">
        <div class="mx-auto">
            <p class="text-danger">{{ctrl.msg}}</p>
        </div>
    </div>
    <div class="row">
        <form class="mx-auto col-10 col-md-6">
            <p>Id: {{ctrl.equipment.id}}</p>
            <div class="form-group">
                <label for="nameInput">Sprzęt:</label>
                <input type="text" class="form-control" id="nameInput" placeholder="Sprzęt" ng-model="ctrl.equipment.name">
            </div>
            <div class="form-group">
                <label for="serialNumberInput">Numer Seryjny:</label>
                <input type="text" class="form-control" id="serialNumberInput" placeholder="Numer Seryjny" ng-model="ctrl.equipment.serialNumber">
            </div>
            <div class="form-group">
                <label for="categorySelect">Kategoria:</label>
                <select class="form-control" id="categorySelect" ng-model="ctrl.equipment.category">
                    <option ng-repeat="category in ctrl.categoryNames" ng-selected="category === ctrl.equipment.category">{{category}}</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <button ng-if="!ctrl.equipment.id" type="submit" class="btn btn-primary" ng-click="ctrl.saveEquipment()">Zapisz</button>
                <button ng-if="ctrl.equipment.id" type="submit" class="btn btn-primary" ng-click="ctrl.updateEquipment()">Aktualizuj</button>
            </div>
        </form>
    </div>
</div>