<div class="container">
    <div class="row">
        <div class="mx-auto">
            <h2 ng-if="ctrl.serviceman.id">Edycja Serwisanta</h2>
            <h2 ng-if="!ctrl.serviceman.id">Nowy Serwisant</h2>
        </div>
    </div>
    <div class="row" ng-if="ctrl.msg">
        <div class="mx-auto">
            <p class="text-danger">{{ctrl.msg}}</p>
        </div>
    </div>
    <div class="row">
        <form class="mx-auto col-10 col-md-6">
            <p>Id: {{ctrl.serviceman.id}}</p>
            <div class="form-group">
                <label for="firstNameInput">Imię:</label>
                <input type="text" class="form-control" id="firstNameInput" placeholder="imię" ng-model="ctrl.serviceman.firstName">
            </div>
            <div class="form-group">
                <label for="lastNameInput">Nazwisko:</label>
                <input type="text" class="form-control" id="lastNameInput" placeholder="nazwisko" ng-model="ctrl.serviceman.lastName">
            </div>
            <div class="form-group">
                <label for="initialsInput">Iniciały:</label>
                <input type="text" class="form-control" id="initialsInput" placeholder="iniciały" ng-model="ctrl.serviceman.initials">
            </div>
            <div class="form-group mb-3">
                <button ng-if="!ctrl.serviceman.id" type="submit" class="btn btn-primary" ng-click="ctrl.saveServiceman()">Zapisz</button>
                <button ng-if="ctrl.serviceman.id" type="submit" class="btn btn-primary" ng-click="ctrl.updateServiceman()">Aktualizuj</button>
            </div>
        </form>
    </div>
</div>