<div class="container">
    <div class="row">
        <div class="mx-auto">
            <h2 ng-if="ctrl.repair.id">Edycja Naprawy</h2>
            <h2 ng-if="!ctrl.repair.id">Nowa Naprawa</h2>
        </div>
    </div>
    <div class="row" ng-if="ctrl.msg">
        <div class="mx-auto">
            <p class="text-danger">{{ctrl.msg}}</p>
        </div>
    </div>
    <div class="row">
        <form class="mx-auto col-10 col-md-6">
            <p>Id: {{ctrl.repair.id}}</p>
            <div class="form-group">
                <label for="startInput">Data Przyjecia:</label>
                <input type="text" class="form-control" id="startInput" placeholder="Data Przyjęcia" ng-model="ctrl.repair.start">
            </div>
            <div class="form-group">
                <label for="endInput">Data Odbioru:</label>
                <input type="text" class="form-control" id="endInput" placeholder="Data Odbioru" ng-model="ctrl.repair.end">
            </div>
            <div class="form-group">
                <label for="warrantyInput">Koniec Gwarancji:</label>
                <input type="text" class="form-control" id="warrantyInput" placeholder="Koniec Gwarancji" ng-model="ctrl.repair.warranty">
            </div>
            <div class="form-group">
                <label for="priceInput">Cena:</label>
                <input type="text" class="form-control" id="priceInput" placeholder="Cena" ng-model="ctrl.repair.price">
            </div>
            <div class="form-group">
                <label for="costInput">Koszty:</label>
                <input type="text" class="form-control" id="costInput" placeholder="Koszty częsci" ng-model="ctrl.repair.cost">
            </div>
            <div class="form-group">
                <label for="statusSelect">Status:</label>
                <select class="form-control" id="statusSelect" ng-model="ctrl.repair.status">
                    <option ng-repeat="status in ctrl.status" ng-selected="status === ctrl.repair.status">{{status}}</option>
                </select>
            <div class="form-group">
                <label for="defectInput">Uszkodzenie:</label>
                <input type="text" class="form-control" id="defectInput" placeholder="Opis uszkodzenia" ng-model="ctrl.repair.defect">
            </div>
            <div class="form-group">
                <label for="repairDescriptionInput">Opis naprawy:</label>
                <input type="text" class="form-control" id="repairDescriptionInput" placeholder="Opis uszkodzenia" ng-model="ctrl.repair.repairDescription">
            </div>
            <div class="form-group">
                <label for="clientSelect">Klient:</label>
                <select class="form-control" id="clientSelect" ng-model="ctrl.repair.clientName">
                    <option ng-repeat="client in ctrl.clientNames" ng-selected="client === ctrl.repair.client">{{client}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="equipmentSelect">Sprzęt:</label>
                <select class="form-control" id="equipmentSelect" ng-model="ctrl.repair.equipmentName">
                    <option ng-repeat="equipment in ctrl.equipmentNames" ng-selected="equipment === ctrl.repair.equipment">{{equipment}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="servicemanSelect">Serwisant:</label>
                <select class="form-control" id="servicemanSelect" ng-model="ctrl.repair.serviceManInitials">
                    <option ng-repeat="serviceman in ctrl.servicemanInitials" ng-selected="serviceman === ctrl.repair.serviceman">{{serviceman}}</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <button ng-if="!ctrl.repair.id" type="submit" class="btn btn-primary" ng-click="ctrl.saveRepair()">Zapisz</button>
                <button ng-if="ctrl.repair.id" type="submit" class="btn btn-primary" ng-click="ctrl.updateRepair()">Aktualizuj</button>
            </div>
        </form>
    </div>
</div>