<div class="container">
    <div class="row">
        <div class="mx-auto">
            <h2 ng-if="ctrl.client.id">Edycja Klienta</h2>
            <h2 ng-if="!ctrl.client.id">Nowy Klient</h2>
        </div>
    </div>
    <div class="row" ng-if="ctrl.msg">
        <div class="mx-auto">
            <p class="text-danger">{{ctrl.msg}}</p>
        </div>
    </div>
    <div class="row">
        <form class="mx-auto col-10 col-md-6">
            <p>Id: {{ctrl.client.id}}</p>
            <div class="form-group">
                <label for="nameInput">Imię Nazwisko / Nazwa:</label>
                <input type="text" class="form-control" id="nameInput" placeholder="Imię Nazwisko / Nazwa Firmy" ng-model="ctrl.client.name">
            </div>
            <div class="form-group">
                <label for="addressInput">Adres:</label>
                <input type="text" class="form-control" id="addressInput" placeholder="Ulica i numer Domu" ng-model="ctrl.client.address">
            </div>
            <div class="form-group">
                <label for="postalCodeInput">Kod Pocztowy:</label>
                <input type="text" class="form-control" id="postalCodeInput" placeholder="Kod Pocztowy" ng-model="ctrl.client.postalCode">
            </div>
            <div class="form-group">
                <label for="cityInput">Miasto / Miejscowość:</label>
                <input type="text" class="form-control" id="cityInput" placeholder="Miasto / Miejscowość" ng-model="ctrl.client.city">
            </div>
            <div class="form-group">
                <label for="telephoneNumberInput">Numer Telefonu:</label>
                <input type="text" class="form-control" id="telephoneNumberInput" placeholder="+48-123-123-123" ng-model="ctrl.client.telephoneNumber">
            </div>
            <div class="form-group">
                <label for="nipInput">Nip:</label>
                <input type="text" class="form-control" id="nipInput" placeholder="NIP" ng-model="ctrl.client.nip">
            </div>
            <div class="form-group mb-3">
                <button ng-if="!ctrl.client.id" type="submit" class="btn btn-primary" ng-click="ctrl.saveClient()">Zapisz</button>
                <button ng-if="ctrl.client.id" type="submit" class="btn btn-primary" ng-click="ctrl.updateClient()">Aktualizuj</button>
            </div>
        </form>
    </div>
</div>